@model IEnumerable<BetInfo>

<h1>Bet</h1>

<div class="container">
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                League
            </th>
            <th>
                Home Team
            </th>
            <th>
                Home Result
            </th>
            <th>
                Away Result
            </th>
            <th>
                Away Team
            </th>
            <th>
                HomeTeamCoef
            </th>
            <th>
                DrawCoef
            </th>
            <th>
                AwayTeamCoef
            </th>
            <th>
                Bet Times
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bet in Model)
        {

        <tr>
            <td>
                @bet.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @bet.League
            </td>
            <td>
                @bet.HomeTeam
            </td>
            <td>
                @bet.HomeResult
            </td>
            <td>
                @bet.AwayResult
            </td>
            <td>
                @bet.AwayTeam
            </td>
            <td>
                @bet.HomeCoef
            </td>
            <td>
                @bet.DrawCoef
            </td>
            <td>
                @bet.AWayCoef
            </td>
            <td>
                @bet.BetTimes
            </td>
            <td>
                @bet.ResultStatus
            </td>
        </tr>
        }
    </tbody>
</table> 
<hr />
<div class="container">
    <form method="POST">
        <div>
            <input type="text" placeholder="League" name="League" />
        </div>
        <hr />
        <div class=" row">
            <div class="col-3">
                <input type="text" placeholder="Home Team" name="HomeTeam" />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Home Team Result" name="HomeResult" />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Away Team Result" name="AwayResult" /> <br />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Away Team" name="AwayTeam" />
            </div>
        </div>
        <hr />
        <div class=" row">
            <div class="col-4">
                <input type="text" placeholder="Home Coef" name="HomeCoef" />
            </div>
            <div class="col-4">
                <input type="text" placeholder="Draw Coef" name="DrawCoef" />
            </div>
            <div class="col-4">
                <input type="text" placeholder="Away Coef" name="AwayCoef" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-3">
                <input type="text" placeholder="Bet" name="Bet" /> <hr />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Bet Coef" name="BetCoef" /> <hr />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Bet Type" name="BetType" /> <hr />
            </div>
            <div class="col-3">
                <input type="text" placeholder="Current Ballance" name="CurrentBalance" /> <hr />
            </div>
        </div>
        <hr />
        <select type="text" name="ResultStatus">
            <option value="win">Win</option>
            <option value="loose">Loose</option>
            <option value="Current">Current</option>
        </select>
        <label for="date">date:</label>
        <input type="datetime-local" name="Date">
        <hr />
        <input type="text" placeholder="betTimes" name="betTimes"/>
        <hr />
        <input type="submit" />
    </form>
        </div>
<hr />
 
<h1>Upcoming bets</h1>