@model IEnumerable<BetInfo>

<a class="btn btn-primary" asp-area="" asp-controller="Bet" asp-action="AddBet">AddBet</a>
<hr />
<div class="container">
</div>
<table class="table">
    <tbody>
        @foreach (var bet in Model)
        {
        <tr>
            <td>
                @bet.Date.ToString("yy-MM-dd")
            </td>
            <td>
                @bet.Nation
            </td>
            <td>
                @bet.League
            </td>
            <td>
                @bet.HomeTeam
            </td>
            <td>
                @bet.HomeResult
            </td>
            <td>
                @bet.AwayResult
            </td>
            <td>
                @bet.AwayTeam
            </td>
            <td>
                @bet.HomeCoef
            </td>
            <td>
                @bet.DrawCoef
            </td>
            <td>
                @bet.AWayCoef
            </td>
            <td>
                @bet.BetTimes
            </td>
            <td>
                @bet.ResultStatus
            </td>
        </tr>
        }
    </tbody>
</table>
<hr />

